<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h1>Lista de vendedores</h1>

    <table>
        <thead>
            <th>Id</th>
            <th>Name</th>
            <th>Email</th>
            <th>BirthDate</th>
            <th>BaseSalary</th>
            <th>acoes</th>
        </thead>
        <tbody>
            
            {% for vend in vendedores: %}

                <tr>
                    <td>{{vend.Id}}</td>
                    <td>{{vend.Name}}</td>
                    <td>{{vend.Email}}</td>
                    <td>{{vend.BirthDate}}</td>
                    <td>{{vend.BaseSalary}}</td>
                    <td>acoes</td>
                </tr>
    
            {% endfor %}

        </tbody>
    </table>

    
</body>
</html>
